@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Vast+Shadow&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
body {
    margin: 20px 100px;
}
nav {
    margin: 0px 0px 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo h3{
    font-weight: 700;
    font-style: normal;
}
.centre a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    padding-left: 10px;
}

.nav-last-part {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nav-last-part div {
    padding: 10px;
}
.main-first-part {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin: 0 ;
}
.main-first-part-text h1 {
    font-size: 60px;
    font-weight: lighter;
    margin-bottom: 20px;
}
.main-first-part-text p {
    font-size: 20px;
    font-weight: lighter;
    /* margin-bottom: 20px; */
}

.main-first-part button {
    background-color: black ;
    border: none;
    color: #fff;
    padding: 15px 50px;
    margin-top: 40px;
}
.image {
    display: flex;
    justify-content: center;
}
.image {
    width: 100%;
    height: 600px;
}

.image img {
    width: 100%;
    height: 100%;
}
img {
    /* height: auto; */
    max-width: 100%;
}

.main-second-part {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

.categories-title {
    text-align: center;
    font-size: 40px;
    margin-bottom: 30px;
}

.Categories {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    margin: 0px;
}

.Categories div p {
    font-size: 20px;
}

.main-second-part-footer {
    text-align: center;
    font-size: 40px;
    margin: 30px 0px;
}

.main-third-part {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
    justify-content: center;
    align-items: center;
    margin: 50px 0px;
}

.featured button {
    border-top: none;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 2px solid black;
    background: none;
    padding: 0px 5px;
}

.potted3 {
    position: relative;

}


.potted3 p {
    position: absolute;
    background-color: #000;
    color: #fff;
    right: 0;
    top: 0;
}

.footer-first-part {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    margin: 80px 0px;
    /* align-items: center; */
}
.article-image  , .article2-image {
    position: relative;
}
.article-image img , .article2-image img {
    height: 320px;
    width: 100%;
}

.author {
    position: absolute;
    right: 0;
    bottom: 30px;
    background-color: #fff;
    padding-right: 30px;
}

.author p {
    font-size: 12px;
    color: #808080;
    padding: 10px;
}
 .author p span {
    font-size: 19px;
    color: #000;
 }

 #edition {
    color: #808080;
    font-size: 12px;
 }

 .footer-second-part {
    margin: 50px auto 80px auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 .footer-second-part p {
    font-size: 20px;
 }

 .subscribe {
    position: relative;
    width: 500px;
    text-align: center;
    /* display: flex;
    justify-content: center;
    align-items: center; */
 }

 .subscribe input {
    padding: 5px;
    margin: 0;
    width: 400px;
    background: #cfcece;
    color: #000000;
    border: none;
 }
 .subscribe :-ms-input-placeholder {
    color: #000;
 }
 .subscribe button {
    position: absolute;
    margin: 0;
    padding: 5px;
    border: none;
    background-color: #000;
    color: #fff;
 }

 .footer-last-part {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 60px;
    margin: 50px 0px;
    justify-content: center;
    

 }

 .footer-nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
 }
 .connect ,.resources ,.about {
    display: flex;
    flex-direction: column;
 }

 .connect p , .resources p , .about p {
    color: #808080;
    font-size: 12px;
 }
 .connect a , .resources a , .about a{
    text-decoration: none;
    color: #000;
 }

 .title {
    list-style: none;
    display: flex;
    margin: 0 auto;
    display: flex;
    justify-content: end;
    position: relative;
 }
 .first {
    padding-right: 10px;
    background-color: whitesmoke;
 }
 /* .title li {
    padding-right: 10px;
 } */
 .title li img {
    width: 20px;
 } 
 .title li img:hover {
    transform: rotate(180deg);
 }
 .dropdown {
    position: absolute;
    list-style: none;
    top: 20px;
    padding: 0px 20px 0px 5px;
    background-color: #bbbaba;
    display: none;
 }

